// _components.scss

.btn {
  @include button-style($acc-700);
}

.btn--sm {
  height: 34px;
  width: 99px;
  @include button-style($acc-700, $acc-800);
  @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
}

.btn--sm-s4 {
  height: 34px;
  width: 99px;
  @include button-style($acc-900, $acc-950);
  @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
}

.btn--default {
  height: 40px;
  width: 109px;
  @include button-style($acc-700, $acc-800);
  @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
}

.btn--solutions {
  height: 40px;
  width: 123px;
  @include button-style($acc-700, $acc-950);
  @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
}

.wrapper-steps {
  width: 100%;
  height: auto;
  @include flex-space-between;
  padding-bottom: $spacing-mega;

  .step {
    width: 242.4px;
    height: 124px;

    .number-step {
      @include flex-space-between;

      p {
        background: $acc-500;
        padding: 5px;
        color: $neutral-25;
      }
    }

    .content-step {
      img {
        padding-top: $spacing-xl;
        padding-bottom: $spacing-xs;
      }

      p {
        max-width: 221px;
        @include typography($font-size-lg, $font-weight-medium, $line-height-default);
      }
    }
  }
}

.btn--default2 {
  width: max-content;
  height: max-content;
  @include button-style($acc-700, $acc-950);

  &.contato {
    background-color: $neutral-25;
    color: $neutral-900;

    &:hover {
      background: $acc-950;
      color: $neutral-25;
    }
  }
}

.f-footer {
  background-color: $pri-950;
  padding-top: 54px;
  padding-bottom: $spacing-xl;

  .container {
    .content-footer {
      .imgs-footer {
        @include flex-space-between;
        align-items: flex-start;

        .logo-footer {
          padding: 6px 0 0 0;
        }
      }

      .social {
        @include flex-row;
        @include spacing($padding: $spacing-md 0 0 0, $gap: $spacing-md);
      }

      .text-footer {
        p {
          color: $neutral-25;
          max-width: 223px;
          padding-top: $spacing-lg;
        }
      }

      .text-contatos {
        @include flex-space-between;
        padding-top: $spacing-giga;
        padding-bottom: $spacing-md;
        border-bottom: 2px solid $neutral-700;

        .tel {
          @include flex-row;
          @include spacing($gap: $spacing-xs);

          a {
            color: $neutral-25;
          }
        }

        .text-email {
          a {
            color: $neutral-25;
          }
        }
      }

      .assinatura {
        @include flex-space-between;
        padding-top: $spacing-md;

        .text-direitos {
          color: $neutral-25;
        }

        .text-assinatura {
          a {
            color: $neutral-25;
          }
        }
      }
    }
  }
}

@include responsivo ('tablet') {
  .f-footer {
    .container {

      .content-footer {
        text-align: center;

        .social {
          justify-content: center;
        }

        .text-footer p {
          margin: 0 auto;
        }

        .text-contatos {
          @include flex-column;
          align-items: center
        }

        .assinatura {
          @include flex-column;
          align-items: center;
        }
      }
    }
  }
}
























.test-buttons {
  width: 100%;
  margin: $spacing-huge 0;

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: $spacing-md;

    .btn {
      @include button-style($acc-700);
      @include typography($font-size-base, $font-weight-semibold, $line-height-default);

      &--sm {
        height: 34px;
        width: 99px;
        @include button-style($acc-700);
        @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
      }

      &--sm-s4 {
        height: 34px;
        width: 99px;
        @include button-style($acc-900);
        @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
      }

      &--default {
        height: 40px;
        width: 109px;
        @include button-style($acc-700);
        @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
      }

      &--default-s3 {
        height: 40px;
        width: 109px;
        @include button-style($acc-900);
        @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
      }
    }
  }
}