// _components.scss

.btn {
  @include button-style($acc-700);
}

.btn--sm {
  height: 34px;
  width: 99px;
  @include button-style($acc-700, $acc-800);
  @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
}

.btn--sm-s4 {
  height: 34px;
  width: 99px;
  @include button-style($acc-900, $acc-950);
  @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
}

.btn--default {
  height: 40px;
  width: 109px;
  @include button-style($acc-700, $acc-800);
  @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
}

.btn--solutions {
  height: 40px;
  width: 123px;
  @include button-style($acc-700, $acc-950);
  @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
}

.wrapper-steps {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $spacing-mega;
  flex-wrap: wrap;

  .step {
    width: 242.4px;
    height: 124px;
    margin-bottom: 30px;

    .number-step {
      @include flex-space-between;

      p {
        background: $acc-500;
        padding: 5px;
        color: $neutral-25;
      }
    }

    .content-step {
      img {
        padding-top: 32px;
        padding-bottom: 8px;

        @include responsivo('mobile') {
          width: 100%;
        }
      }

      p {
        /* max-width: 221px; */
        @include typography($font-size-lg, $font-weight-medium, $line-height-default);
      }
    }

    @include responsivo('ultra') {
      justify-content: flex-start;
    }

    @include responsivo('mobile') {
      width: 100%;
    }
  }

  .stp1 {
    .content-step p {
      max-width: 210px;
    }
  }

  .stp2 {
    .content-step p {
      max-width: 221px;
    }
  }

  .stp5 {
    .content-step p {
      max-width: 172px;
    }
  }

  @include responsivo('ultra') {
    justify-content: flex-start;
    gap: 48px;
  }

}

.btn--default2 {
  width: max-content;
  height: max-content;
  @include button-style($acc-700, $acc-950);

  &.contato {
    background-color: $neutral-25;
    color: $neutral-900;

    &:hover {
      background: $acc-950;
      color: $neutral-25;
    }
  }
}

.f-footer {
  background-color: $pri-950;
  padding-top: 54px;
  padding-bottom: $spacing-xl;

  .container {
    .content-footer {
      .imgs-footer {
        @include flex-space-between;
        display: flex;
        justify-content: space-between;

        align-items: flex-start;

        .box-logo-footer {
          min-width: 120px !important;
          height: max-content;
          padding: 6px 8px 0 0;

          @include responsivo ('mobile') {
           margin: 0 auto;
          }

          .logo-footer {
            width: 100%;
          }
        }

        .line-footer {
          width: 100%;
          min-width: 80%;
          min-height: 100%;

          @include responsivo ('tablet') {
            padding-top: 8px;
          }

          @include responsivo ('mobile') {
            display: none;
          }
        }
      }

      //.content-footer
      @include responsivo ('tablet') {
        text-align: center;
      }

      .social {
        @include flex-row;
        @include spacing($padding: $spacing-md 0 0 0, $gap: $spacing-md);

        //.social
        @include responsivo ('tablet') {
          justify-content: center;
        }
      }

      .text-footer {
        p {
          color: $neutral-25;
          max-width: 223px;
          padding-top: $spacing-lg;

          //.text-footer p
          @include responsivo ('tablet') {
            margin: 0 auto;
          }
        }
      }

      .text-contatos {
        @include flex-space-between;
        padding-top: $spacing-giga;
        padding-bottom: $spacing-md;
        border-bottom: 2px solid $neutral-700;

        //.text-contatos
        @include responsivo ('tablet') {
          @include flex-column;
          align-items: center
        }

        .tel {
          @include flex-row;
          @include spacing($gap: $spacing-xs);

          a {
            color: $neutral-25;
          }
        }

        .text-email {
          a {
            color: $neutral-25;
          }
        }
      }

      .assinatura {
        @include flex-space-between;
        padding-top: $spacing-md;

        //.assinatura 
        @include responsivo ('tablet') {
          @include flex-column;
          align-items: center;
        }

        .text-direitos {
          color: $neutral-25;
        }

        .text-assinatura {
          a {
            color: $neutral-25;
          }
        }
      }
    }
  }
}
















/* @include responsivo ('tablet') {
  .f-footer {
    .container {

      .content-footer {
        text-align: center;

        .social {
          justify-content: center;
        }

        .text-footer p {
          margin: 0 auto;
        }

        .text-contatos {
          @include flex-column;
          align-items: center
        }

        .assinatura {
          @include flex-column;
          align-items: center;
        }
      }
    }
  }
} */
























.test-buttons {
  width: 100%;
  margin: $spacing-huge 0;

  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: $spacing-md;

    .btn {
      @include button-style($acc-700);
      @include typography($font-size-base, $font-weight-semibold, $line-height-default);

      &--sm {
        height: 34px;
        width: 99px;
        @include button-style($acc-700);
        @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
      }

      &--sm-s4 {
        height: 34px;
        width: 99px;
        @include button-style($acc-900);
        @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
      }

      &--default {
        height: 40px;
        width: 109px;
        @include button-style($acc-700);
        @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
      }

      &--default-s3 {
        height: 40px;
        width: 109px;
        @include button-style($acc-900);
        @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
      }
    }
  }
}