// _contato.scss

.s-hero-contact {
    width: 100%;
    height: 953px;
    margin-top: -88px;

    .container {
        width: 100%;
        height: 100%;
        background-image: url(../img/bg-frame-contato.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include flex-center;

        .wrapper-contact {
            width: 490px;
            height: 685px;
            @include flex-column;
            justify-content: space-between;
            padding: 24.5px 58px 31.5px 40px;

            .content-list-cntc {
                width: max-content;
                @include flex-column;
                @include spacing($gap: $spacing-md);

                .p-info-list {
                    width: 406px;
                }

                .wrapper-list {
                    @include flex-column;
                    @include spacing($gap: $spacing-sm);
                }

                .cntc-list {
                    width: 100%;
                    @include flex-row;
                    @include spacing($gap: 13px);
                }
            }

            .info-contact {
                width: 303px;
                @include flex-column;
                @include spacing($gap: $spacing-md);

                .box-email {
                    width: $spacing-lg;
                    height: $spacing-lg;
                    background: $neutral-900;
                    @include flex-center;
                }
            }
        }

        .contact-form {
            width: 640px;
            height: 683px;
            @include flex-column;
            padding: $spacing-xl 40px;

            form {
                @include flex-column;
                @include spacing($gap: $spacing-gap-form);

                .form-group {
                    @include flex-column;
                    @include spacing($gap: $spacing-xs);

                    input {
                        display: flex;
                        padding: 10px $spacing-md 9px;
                        align-items: center;
                        align-self: stretch;
                        border: 1px solid $neutral-200;
                    }

                    .msn-area {
                        width: 559px !important;
                        height: 120px !important;
                        padding: 10px $spacing-md 89px;
                    }
                }

                .checkbox {
                    @include flex-row;
                    @include spacing($gap: 13px);

                    .Terms-use,
                    .privacy-police {
                        text-decoration: underline;
                        font-weight: $font-weight-medium;
                    }
                }

                .bt-submit-msn {
                    width: max-content;
                }
            }
        }
    }
}