// _contato.scss

.s-hero-contact {
    width: 100%;
    height: 953px;
    margin-top: -88px;

    @include responsivo ('mobile') {
        margin-top: 42px;
        height: max-content;
    }

    .container {
        width: 100%;
        height: 100%;
        background-image: url(../img/bg-frame-contato.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @include flex-center;

        @include responsivo ('laptop') {
            background-image: none;
            display: flex;
            justify-content: space-between;
            gap: 8px;
            height: max-content;
        }

        @include responsivo ('mobile') {
            flex-wrap: wrap;
            height: max-content;
        }

        .wrapper-contact {
            width: 490px;
            height: 685px;
            @include flex-column;
            justify-content: space-between;
            padding: 24.5px 58px 31.5px 40px;

            @include responsivo ('laptop') {
                outline: .1px solid $neutral-100;
                width: max-content;
                padding: 16px;
            }

            @include responsivo ('mobile') {
                outline: none;
                width: 100%;
                height: max-content;
            }

            .content-list-cntc {
                width: max-content;
                @include flex-column;
                gap: 16px;

                .p-info-list {
                    width: 406px;
                }

                .wrapper-list {
                    @include flex-column;
                    gap: 12px;
                }

                .cntc-list {
                    width: 100%;
                    @include flex-row;
                    gap: 13px;
                }
            }

            .info-contact {
                width: 303px;
                @include flex-column;
                gap: 16px;

                .box-email {
                    width: 24px;
                    height: 24px;
                    background: $neutral-900;
                    @include flex-center;
                }

                @include responsivo ('mobile') {
                    padding: 48px 0 44px;
                }
            }
        }

        .contact-form {
            width: 640px;
            height: 683px;
            @include flex-column;
            padding: 24px 40px;

            @include responsivo ('laptop') {
                outline: .1px solid $neutral-100;
                width: max-content;
                height: max-content;
                padding: 16px;
            }

            @include responsivo ('mobile') {
                outline: none;
                height: max-content;
                width: 100%;
                border-top: .1px solid $neutral-200;
                border-bottom: .1px solid $neutral-200;
                margin-bottom: 120px;
            }

            form {
                @include flex-column;
                gap: 21px;

                .form-group {
                    @include flex-column;
                    gap: 8px;


                    input {
                        display: flex;
                        padding: 10px 16px 9px;
                        align-items: center;
                        align-self: stretch;
                        border: 1px solid $neutral-200;
                    }

                    .msn-area {
                        width: 559px !important;
                        height: 120px !important;
                        padding: 10px 16px 89px;

                        @include responsivo ('laptop') {
                            min-width: 400px !important;
                            width: 100% !important;
                        }
                    }

                    @include responsivo ('laptop') {
                        min-width: 400px !important;
                        width: 100% !important;
                    }
                }

                .checkbox {
                    @include flex-row;
                    gap: 13px;

                    .Terms-use,
                    .privacy-police {
                        text-decoration: underline;
                        font-weight: $font-weight-medium;
                    }
                }

                .bt-submit-msn {
                    width: max-content;
                }
            }
        }
    }
}