// Usado exclusivamente para página Contato Vega (contato-vega.html)
.s-hero-contact {
    width: 100%;
    height: 953px;
    margin-top: -88px;

    .container {
        width: 100%;
        height: 100%;
        background-image: url(../img/bg-frame-contato.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        .wrapper-contact {
            width: 490px;
            height: 685px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 24.5px 58px 31.5px 40px;

            .content-list-cntc {
                width: max-content;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .p-info-list {
                    width: 406px;
                }

                .wrapper-list {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }

                .cntc-list {
                    width: 100%;
                    display: flex;
                    gap: 13px;
                }
            }

            .info-contact {
                width: 303px;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .box-email {
                    width: 24px;
                    height: 24px;
                    background: $neutral-900;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .contact-form {
            width: 640px;
            height: 683px;
            display: flex;
            flex-direction: column;
            padding: 32px 40px;

            form {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .form-group {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    input {
                        display: flex;
                        padding: 10px 16px 9px;
                        align-items: center;
                        align-self: stretch;
                        border: 1px solid $neutral-200;
                    }

                    .msn-area {
                        width: 559px !important;
                        height: 120px !important;
                        padding: 10px 16px 89px;
                    }
                }

                .checkbox {
                    display: flex;
                    gap: 13px;

                    .Terms-use,
                    .privacy-police {
                        text-decoration: underline;
                        font-weight: 500;
                    }
                }

                .bt-submit-msn {
                    width: max-content;
                }
            }


        }
    }
}