// _header.scss

.header {
    background-color: $neutral-25;
    padding: $spacing-md $spacing-xxxl;

    &__container {
        @include flex-space-between;
        width: 100%;
    }

    &__nav-wrapper {
        width: max-content;
        @include flex-center;
    }

    &__nav {
        @include flex-center;
        margin-left: $spacing-xxl;
        gap: $spacing-xxl;
    }

    &__menu {
        @include flex-center;
        gap: $spacing-xl;

        .btn {
            @include button-style($acc-700);
            @include typography($font-size-sm, $font-weight-semibold, $line-height-default);

            &--sm {
                height: 34px;
                width: 99px;
                @include button-style($acc-700);
                @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
            }
        }
    }

    &__login {
        @include flex-center;
        gap: $spacing-xs;
    }

    &__nav-link,
    &__menu-link,
    &__login-link {
        color: $neutral-900;
        @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
    }
}