// Estilos do Menu Principal
.header {
    padding: $spacing-md $spacing-xxxl;
    position: relative;
    background-color: #fff;

    &__container {
        @include flex-space-between;
        width: 100%;
        position: relative;

        //.header__container 
        @include responsivo('mobile') {
            display: none;
        }
    }

    &__nav-wrapper {
        width: max-content;
        @include flex-center;
    }

    &__nav {
        @include flex-center;
        margin-left: $spacing-xxl;
        gap: $spacing-xxl;

        @include responsivo('laptop') {
            gap: 8px;
            margin-left: 12px
        }
    }

    &__menu {
        @include flex-center;
        gap: $spacing-xl;

        .btn {
            @include button-style($acc-700);
            @include typography($font-size-sm, $font-weight-semibold, $line-height-default);

            &--sm {
                height: 34px;
                width: 99px;
                @include button-style($acc-700);
                @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
            }
        }
    }

    &__login {
        @include flex-center;
        gap: $spacing-xs;
    }

    &__login-icon {
        width: 16px;
        height: 16px;
    }

    &__nav-link,
    &__menu-link,
    &__login-link {
        width: fit-content;
        color: $neutral-900;
        @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);

        @include responsivo('laptop') {
            text-align: center;
        }
    }

    &__logo {
        img {
            display: block;
            width: auto;
            height: auto;
            max-width: 100%;
        }
    }
}

// MENU MOBILE //
.mobile-menu {
    width: 100%;
    height: max-content;
    position: fixed;
    top: 0;
    /* right: 0; */
    z-index: $z-index-high;
    align-items: center;
    display: none; // Padrão: escondido até o breakpoint mobile
    background-color: #fff;
    /* background-color: blue; */

    .mobile-menu__header {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: $spacing-md;
        z-index: 4;
        left: 0;
        background-color: #fff;
        width: 100%;

        //.mobile-menu__header
        @include responsivo('mobile') {
            display: flex;
            display: block;
        }

        .mobile-menu__logo {
            z-index: 5;

            img {
                display: block;
                width: auto;
                height: auto;
                max-width: 100%;
            }
        }

        #menu-toggle {
            position: absolute;
            top: $spacing-md;
            right: $spacing-md;
            z-index: $z-index-high + 1;
            cursor: pointer;
            width: 30px;
            height: 20px;
            transition: opacity $transition-default;
        }
    }

    .mobile-menu__nav {
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 100%;
        height: 100vh !important;
        min-height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        padding: 100px 16px 16px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        z-index: 2;

        //.mobile-menu__nav
        @include responsivo('mobile') {
            display: none;
            /* width: 100%; */
            height: 100vh;
            padding: 16px;
            position: absolute;
            top: 0;
            /* padding-top: 80px; */
            padding: 100px 16px 16px;
            gap: 24px;
        }

        .header__menu-mobile {
            width: 100%;
            padding-top: 150px;
        }

        .mobile-menu__nav-link {
            @include flex-center;
            gap: $spacing-xs;
            padding: 2%;
            color: $neutral-900;
            font-size: $font-size-base;
            font-weight: $font-weight-semibold;
            line-height: $line-height-default;
            text-align: center;
            text-decoration: none;
            transition: transform 1s ease-in-out, opacity 0.3s ease-in-out;

            //.mobile-menu__nav-link 
            @include responsivo('mobile') {
                padding: 5%;
            }
        }

        .mobile-menu__nav-link:hover {
            opacity: 0.8;
            transform: translateY(-2px);
        }

        .mobile-menu__login-icon {
            width: 16px;
            height: 16px;
        }

        .mobile-menu__nav-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            background-color: $acc-700;
            color: $neutral-25;
            font-size: $font-size-base;
            font-weight: $font-weight-semibold;
            line-height: $line-height-default;
            text-align: center;
            text-decoration: none;
        }
    }
}

// DEIXAR ESSE COMPONENTE @MEDIA FORA DO ANINHAMENTO ACIMA !!!!!!!
//#mobile-menu 
@include responsivo('mobile') {
    #mobile-menu {
        display: flex;
        z-index: 3;
        justify-content: center;
        align-items: flex-start;
        left: 0;
    }
}

// DEIXAR ESSE COMPONENTE @MEDIA FORA DO ANINHAMENTO ACIMA !!!!!!!
//.header.is-open // Mostra a navegação quando o toggle é clicado
@include responsivo('mobile') {
    .header.is-open {
        #mobile-menu {
            .mobile-menu__nav {
                display: flex;
            }
        }
    }
}





















/* @include responsivo('mobile') {
    .header__container {
        display: none;
    }

    #mobile-menu {
        display: flex;
        z-index: 3;
        justify-content: center;

        width: 100%;


        .mobile-menu__header {
            width: max-content;
            display: flex;
            display: block;

        }

        .mobile-menu__nav {
            display: none;
            width: 100%;
            padding: 16px;
            position: absolute;
            top: 0;
            padding-top: 80px;
            gap: 24px;
        }

        .mobile-menu__nav-link {
            padding: 5%;
        }
    }

    .header.is-open {
        #mobile-menu {
            .mobile-menu__nav {
                display: flex; // Mostra a navegação quando o toggle é clicado
            }
        }
    }
} */