// _index.scss

.s-hero-home {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: $neutral-25;

  .wrapper-bg-home {
    position: relative;
    width: 100%;
    height: 446px;
    overflow: hidden;

    #bg-sh-hero {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #line-header-left {
      position: absolute;
      top: 50%;
      left: $spacing-lg;
      z-index: $z-index-low;
    }

    .wrapper-text-protection {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 392px;
      height: 66px;
      padding: $spacing-sm 15px;
      border-top: 1px solid $neutral-25;
      border-left: 1px solid $neutral-25;
      z-index: $z-index-medium;

      .text-sh-home-protection {
        transition: opacity 0.5s ease;
      }
    }

    .wrapper-slider {
      position: absolute;
      bottom: 20px;
      left: 20px;
      @include flex-column;
      @include spacing($gap: $spacing-lg);
      z-index: $z-index-medium;
      flex-wrap: wrap;

      .slider {
        cursor: pointer;
        position: relative;
        width: 306px;
        padding-top: $spacing-sm;

        p {
          padding-top: 6px;
        }

        &::before {
          content: "";
          position: absolute;
          top: -3px;
          left: 0;
          width: 0;
          height: 3px;
          background-color: $acc-500;
          z-index: $z-index-high;
          transition: width 8s linear;
        }

        &.active-progress::before {
          width: 100%;
        }

        &:not(.active-progress)::before {
          width: 0;
          transition: width 0s linear;
        }

        .title,
        .description {
          transition: opacity 0.5s ease;
        }
      }

      #desc-rst {
        width: 217px;
      }

      #desc-tlm {
        width: 242px;
      }

      #desc-dts {
        width: 306px;
      }

      #desc-alt {
        width: 294px;
      }
    }
  }

  .wrapper-home {
    @include flex-space-between;
    align-items: flex-end;
    margin: $spacing-xxxl 0 $spacing-xl;

    h1 {
      max-width: 618px;
      color: $neutral-900;
    }
  }

  .nav-page {
    width: 357px;
    height: 50px;
    @include flex-column;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.2rem;

    &__caption {
      @include flex-center;
      padding: 0 0.4rem;
      gap: 1rem;

      p {
        color: $neutral-600;
        @include typography($font-size-xs, $font-weight-medium, $line-height-default, -0.18px);
      }
    }

    &__links {
      @include flex-center;
      gap: 2.4rem;
      align-self: stretch;
      justify-content: center;

      a {
        color: $neutral-900;
        @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
      }
    }
  }

  .box-icon-down {
    width: 20px;
    height: 100%;
    @include flex-center;

    img {
      width: 100%;
    }
  }

  .about-solutions {
    @include flex-column;
    @include spacing($gap: 1.2rem);
  }
}

.s-about-mission {
  padding-top: $spacing-giga;
  padding-bottom: $spacing-giga;

  h3 {
    max-width: 112.7rem;
  }

  .align-text {
    display: flex;
    justify-content: end;
    padding-right: 189px;

    p {
      max-width: 36.2rem;
      padding-top: $spacing-lg;
    }
  }
}

.s-hero-solutions {
  margin-bottom: $spacing-giga;

  h2 {
    padding-bottom: $spacing-xl;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    @include flex-space-between;

    .solutions__nav {
      width: 100%;
      max-width: 100%;
      @include flex-space-between;
      padding-bottom: $spacing-md;
    }

    #div-slt-tcm,
    #div-slt-agr,
    #div-slt-corp,
    #div-slt-sp,
    #div-slt-crg,
    #div-slt-yl,
    #div-slt-vv,
    #div-slt-ind {
      position: relative;
    }

    #div-slt-tcm {
      @include flex-column;
      height: 36px;
      @include flex-space-between;
      align-items: center;

      a {
        color: $acc-700;
      }
    }

    #seletor-point {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .box-bg-solutions {
      width: 660px;
      height: 623px;

      #bg-solutions {
        width: 100%;
        height: 100%;
      }
    }

    .solutions__text-wrapper {
      width: 660px;
      height: 617px;
      @include flex-column;
      @include flex-space-between;
      padding-top: 17px;
      padding-bottom: $spacing-md;

      .solutions__content {
        border-top: 1px solid $neutral-900;

        p {
          color: $neutral-700;
        }

        h4 {
          color: $neutral-900;
        }

        .span-text {
          padding: $spacing-md 0 $spacing-lg 0;
        }

        .title-text-solutions {
          padding-bottom: $spacing-md;
        }

        .button-text {
          padding-top: $spacing-lg;
        }
      }

      .solutions__highlights {
        height: auto;

        p {
          color: $neutral-700;
        }

        .box-info {
          position: relative;
          width: 100%;
          height: auto;
          border-bottom: 1px solid $neutral-100;
          padding: $spacing-xs 0;
          @include flex-space-between;
          gap: $spacing-xs;

          #point-form {
            margin-right: $spacing-sm;
            position: absolute;
            left: 0;
            top: 50%;
          }
        }
      }
    }
  }
}

.s-numbers {
  padding-bottom: $spacing-giga;

  .container {
    .title-content {
      padding-bottom: $spacing-xxl;
    }

    .numbers-content {
      @include flex-space-between;
      flex-wrap: wrap;
      gap: $spacing-xl 0;

      h3 {
        font-size: 6.4rem;
      }

      .n-cont {
        p {
          padding-top: $spacing-sm;
        }
      }
    }
  }
}

.s-differentials {
  background-color: $pri-950;
  padding: 64px 0;

  .container {
    .d-title {
      color: $neutral-25;
      padding-bottom: $spacing-xxl;
    }

    .cards-differentials {
      .line-top {
        @include flex-space-between;
        padding-bottom: $spacing-lg;
        flex-wrap: wrap;
        gap: $spacing-lg 0;

        .card1,
        .card2,
        .card3 {
          @include flex-column;
          @include flex-space-between;
          padding: $spacing-lg 0 $spacing-lg $spacing-lg;
          width: 432px;
          height: 323px;

          .tdesc-card1 {
            h4 {
              padding-bottom: $spacing-sm;
              color: $neutral-200;
            }

            p {
              color: $neutral-400;
            }
          }

          .cards {
            @include flex-column;
            @include spacing($gap: $spacing-xs);

            .card-list {
              @include flex-center;
              gap: 13px;
              color: $neutral-400;
            }
          }
        }

        .card1 {
          background-image: url("data:image/svg+xml,%3Csvg width='432' height='323' viewBox='0 0 432 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 30.2094V323H398.605L432 291.719V0H32.2516L0 30.2094Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .card2 {
          background-image: url("data:image/svg+xml,%3Csvg width='432' height='323' viewBox='0 0 432 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M266.706 0L269.567 3.23595C285.129 21.1736 307.484 31.4429 330.96 31.4429H432V323H0V0H266.706Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .card3 {
          background-image: url("data:image/svg+xml,%3Csvg width='432' height='323' viewBox='0 0 432 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M432 0H0V323H300.612L300 322.308L312.298 294.101L432 294.036V0Z' fill='%23262D35'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          .tdesc-card1 {
            h4 {
              max-width: 343px;
            }
          }
        }
      }

      .line-bottom {
        @include flex-space-between;
        flex-wrap: wrap;
        gap: $spacing-lg 0;

        .card4,
        .card5 {
          @include flex-column;
          @include flex-space-between;
          padding: $spacing-lg 0 $spacing-lg $spacing-lg;
          height: 323px;

          .tdesc-card1 {
            h4 {
              padding-bottom: $spacing-sm;
              color: $neutral-200;
            }

            p {
              color: $neutral-400;
            }
          }

          .cards {
            @include flex-column;
            @include spacing($gap: $spacing-xs);

            .card-list {
              @include flex-center;
              gap: 13px;
              color: $neutral-400;

              p {
                color: $neutral-200;
              }
            }
          }
        }

        .card4 {
          width: 546px;
          background-color: #262D35;

          .tdesc-card1 {
            p {
              max-width: 498px;
            }
          }
        }

        .card5 {
          width: 774px;
          padding-bottom: 63px;
          background-image: url("data:image/svg+xml,%3Csvg width='774' height='323' viewBox='0 0 774 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M774 0H0V301.135L246.52 301L284.693 323H489.307L527.48 301L774 301.135V0Z' fill='%23262D35'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          .tdesc-card1 {
            ul {
              @include flex-column;
              @include spacing($gap: $spacing-sm);

              li {
                color: $neutral-400;
                @include flex-column;
                @include spacing($gap: $spacing-md);

                span {
                  color: rgba(37, 44, 55, 0.8);
                  border-radius: 3px;
                  border: 1px solid #41B72F;
                  background: $acc-500;
                  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
                  width: 56px;
                  height: $spacing-lg;
                  padding: 0 6px;
                  @include flex-center;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}

.s-central24h {
  padding: $spacing-giga 0 154px 0;

  .container {
    .content-central {
      @include flex-space-between;
      flex-wrap: wrap;

      .content24h {
        p {
          max-width: 456px;
        }

        h2 {
          padding: $spacing-sm 0;
        }
      }

      .cta-24h {
        padding-top: $spacing-lg;
      }
    }

    .list-24h {
      ul {
        li {
          @include flex-center;
          border-top: 1px solid $neutral-900;
          width: 774px;
          padding: 28px 0 20px 0;
          gap: 64px;

          .content-left {
            @include flex-column;
            @include spacing($gap: $spacing-lg);

            h4 {
              width: 277px;
            }
          }

          .content-right {
            color: #57606C;

            p {
              max-width: 399px;
            }
          }
        }

        li:first-child,
        li:nth-child(2),
        li:nth-child(3),
        li:nth-child(4),
        li:last-child {
          .content-left {
            h4 {
              width: 277px;
            }
          }

          .content-right {
            p {
              max-width: 399px;
            }
          }
        }

        li:nth-child(2) .content-right p {
          max-width: 387px;
        }

        li:nth-child(3) .content-right p {
          max-width: 282px;
        }

        li:nth-child(4) .content-right p {
          max-width: 280px;
        }

        li:last-child {
          border-bottom: 1px solid $neutral-900;

          .content-right p {
            max-width: 277px;
          }
        }
      }
    }
  }
}

.s-contact {
  position: relative;
  background: linear-gradient(95deg, #359E24 -1.13%, $acc-500 100%);
  padding: 64px 0 94px 0;
  overflow: hidden;

  .container {
    position: relative;
    z-index: $z-index-low;
    margin: 0 auto;

    .contact {
      position: relative;

      .content-contact {
        max-width: 426px;

        h2,
        p {
          color: $neutral-25;
        }

        h2 {
          max-width: 426px;
          padding-bottom: $spacing-sm;
        }

        p {
          max-width: 266px;
          padding-bottom: $spacing-lg;
        }
      }

      .img-vega {
        position: absolute;
        top: -36px;
        right: -26%;
        width: 1060px;
        height: 344px;
      }
    }
  }
}