// _index.scss

.s-hero-home {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  color: $neutral-25;

  .container {

    .wrapper-bg-home {
      position: relative;
      width: 100%;
      height: 446px;
      overflow: hidden;

      #bg-sh-hero {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      #line-header-left {
        position: absolute;
        top: 50%;
        left: 24px;
        z-index: 1;
      }

      .wrapper-text-protection {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 392px;
        height: 66px;
        padding: 14px 15px;
        border-top: 1px solid $neutral-25;
        border-left: 1px solid $neutral-25;
        z-index: 2;

        .text-sh-home-protection {
          transition: opacity 0.5s ease;
        }
      }

      .wrapper-slider {
        position: absolute;
        bottom: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: row;
        gap: 24px;
        flex-wrap: wrap;

        .slider {
          cursor: pointer;
          position: relative;
          width: 306px;
          padding-top: 12px;

          p {
            padding-top: 6px;
          }

          &::before {
            content: "";
            position: absolute;
            top: -3px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $acc-500;
            z-index: 3;
            transition: width 8s linear;
          }

          &.active-progress::before {
            width: 100%;
          }

          &:not(.active-progress)::before {
            width: 0;
            transition: width 0s linear;
          }

          .title,
          .description {
            transition: opacity 0.5s ease;
          }
        }

        #desc-rst {
          width: 217px;
        }

        #desc-tlm {
          width: 242px;
        }

        #desc-dts {
          width: 306px;
        }

        #desc-alt {
          width: 294px;
        }
      }

      @include responsivo('mobile') {
        display: none;
      }
    }

    .wrapper-home {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: flex-end;
      margin: 48px 0 32px;

      h1 {
        max-width: 618px;
        color: $neutral-900;
      }
      

      @include responsivo('tablet') {
        max-width: 100%;
        height: max-content;
        gap: 48px;
        flex-direction: column;
      }
    }

    .nav-page {
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1.2rem;
      flex-wrap: wrap;

      &__caption {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.4rem;
        gap: 1rem;


        p {
          color: $neutral-600;
          @include typography($font-size-xs, $font-weight-medium, $line-height-default, -0.18px);
        }
      }

      &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        align-self: stretch;
        justify-content: center;

        @include responsivo('laptop') {
          gap: .4rem;
        }

        a {
          color: $neutral-900;
          @include typography($font-size-sm, $font-weight-semibold, $line-height-default, -0.21px);
        }
      }
    }

    .box-icon-down {
      width: 20px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }

    }

    .about-solutions {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;

    }

    .wrapper-slide-mobile {
      display: none;

      .wrapper-bg-home.bg-mobile {
        display: none;
      }
    }
  }
}

/* @media MENU MOBILE */
@include responsivo('mobile') {
  .wrapper-bg-home {
    display: none;
  }

  .wrapper-bg-home.wrp-bg_h-proj_esp {
    display: block;
  }

  .s-hero-home {
    .container {
      .wrapper-slide-mobile {
        display: block;

        .wrapper-bg {
          position: relative;
          width: 100%;

          .box-bar-progress {
            position: absolute;
            bottom: 17px;
            width: 100%;
            height: 5px;
            display: flex;
            justify-content: center;
            gap: 13px;

            .bar-progress {
              width: 42px;
              height: 100%;
              background: $neutral-400;
            }
          }
        }

        .slider.mobile {
          width: 100%;
          height: max-content;
          padding-top: 28px;

          .wrapper-text-protection {
            padding: 8px 0 12px;
          }
        }
      }

      .wrapper-slide-mobile.TML,
      .wrapper-slide-mobile.DTS,
      .wrapper-slide-mobile.ALT {
        display: none;
      }
    }
  }
}

///////////////////

.s-about-mission {
  padding: 120px 0;

  h3 {
    max-width: 112.7rem;
  }

  .align-text {
    display: flex;
    justify-content: end;
    padding-right: 189px;

    p {
      max-width: 36.2rem;
      padding-top: 24px;
    }
  }
}

.s-hero-solutions {
  margin-bottom: 120px;

  h2 {
    padding-bottom: 24px;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;



    .solutions__nav {
      width: 100%;
      max-width: 100%;
      display: flex;
      align-items: flex-start;
      padding-bottom: 18px;
      gap: 40px;

      .group-slt1,
      .group-slt2 {
        display: flex;
        gap: 40px;
      }


    }

    #div-slt-tcm,
    #div-slt-agr,
    #div-slt-corp,
    #div-slt-sp,
    #div-slt-crg,
    #div-slt-yl,
    #div-slt-vv,
    #div-slt-ind {
      position: relative;
    }

    #div-slt-tcm,
    #div-slt-agr,
    #div-slt-corp,
    #div-slt-sp,
    #div-slt-crg,
    #div-slt-yl,
    #div-slt-vv,
    #div-slt-ind {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 36px;
      align-items: center;

      a {
        color: $acc-700;
      }


    }

    #seletor-point {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .box-bg-solutions {
      width: 660px;
      height: 623px;

      #bg-solutions {
        width: 100%;
        height: 100%;
      }
    }

    .solutions__text-wrapper {
      width: 660px;
      height: 617px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding-top: 17px;
      padding-bottom: 18px;

      .solutions__content {
        border-top: 1px solid $neutral-900;

        p {
          color: $neutral-700;
        }

        h4 {
          color: $neutral-900;
        }

        .span-text {
          padding: 18px 0 20px 0;
        }

        .title-text-solutions {
          padding-bottom: 18px;
        }

        .button-text {
          padding-top: 20px;
        }
      }

      .solutions__highlights {
        height: auto;

        p {
          color: $neutral-700;
        }

        .box-info {
          position: relative;
          width: 100%;
          height: auto;
          border-bottom: 1px solid $neutral-100;
          padding: 12px 0;
          display: flex;
          justify-content: flex-start;
          gap: 12px;

          #point-form {
            margin-right: 14px;
            position: absolute;
            left: 0;
            top: 50%;
          }

        }
      }
    }
  }
}

@include responsivo('laptop') {
  .s-hero-solutions {
    .container {
      flex-wrap: wrap;

      .solutions__nav {
        flex-wrap: wrap;

        .group-slt1,
        .group-slt2 {
          display: flex;
          gap: 40px;
        }
      }

      .box-bg-solutions {
        width: 100%;
        height: auto;
      }

      .solutions__text-wrapper {
        width: 100%;
      }
    }
  }
}

@include responsivo('tablet') {
  .s-hero-solutions {
    .container {
      .solutions__nav {

        .group-slt1,
        .group-slt2 {
          width: 100%;
          display: flex;
          gap: 12px;
          justify-content: space-between;
          flex-wrap: wrap;
        }
      }
    }
  }
}

.s-numbers {
  padding-bottom: 120px;

  .container {
    .title-content {
      padding-bottom: 40px;
    }

    .numbers-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 32px;

      h3 {
        font-size: 6.4rem;
      }

      .n-cont {
        p {
          padding-top: 12px;
        }
      }
    }
  }
}

.s-differentials {
  background-color: $pri-950;
  padding: 64px 0;

  .container {
    .d-title {
      color: $neutral-25;
      padding-bottom: 32px;
    }

    .cards-differentials {
      .line-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        flex-wrap: wrap;
        gap: 20px 0;

        // .line-top 
        @include responsivo('laptop') {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }

        .card1,
        .card2,
        .card3 {

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 20px;
          width: 432px;
          height: 323px;

          @include responsivo('mobile') {
            width: 100%;
            height: 341px;
          }

          .tdesc-card1 {
            h4 {
              padding-bottom: 14px;
              color: $neutral-200;
            }

            p {
              color: $neutral-400;
            }
          }

          .cards {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;

            .card-list {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 13px;
              color: $neutral-400;

            }
          }
        }

        .card1 {
          background-image: url("data:image/svg+xml,%3Csvg width='432' height='323' viewBox='0 0 432 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 30.2094V323H398.605L432 291.719V0H32.2516L0 30.2094Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .card2 {
          background-image: url("data:image/svg+xml,%3Csvg width='432' height='323' viewBox='0 0 432 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M266.706 0L269.567 3.23595C285.129 21.1736 307.484 31.4429 330.96 31.4429H432V323H0V0H266.706Z' fill='white' fill-opacity='0.1'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }

        .card3 {
          background-image: url("data:image/svg+xml,%3Csvg width='432' height='323' viewBox='0 0 432 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M432 0H0V323H300.612L300 322.308L312.298 294.101L432 294.036V0Z' fill='%23262D35'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          .tdesc-card1 {
            h4 {
              max-width: 343px;
            }
          }
        }
      }

      .line-bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 0;

        // ..line-bottom
        @include responsivo('laptop') {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }

        .card4,
        .card5 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          padding: 24px 0 24px 24px;
          height: 323px;

          @include responsivo('mobile') {
            width: 100%;
            height: 341px;
          }

          .tdesc-card1 {
            h4 {
              padding-bottom: 12px;
              color: $neutral-200;
            }

            p {
              color: $neutral-400;
            }
          }

          .cards {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;

            .card-list {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 13px;
              color: $neutral-400;

              p {
                color: $neutral-200;
              }

              .p-txtBase-card5 {
                width: 80%;
              }
            }
          }
        }

        .card4 {
          width: 546px;
          height: 323px;
          background-color: #262D35;
          padding: 20px;

          @include responsivo('mobile') {
            height: max-content;
          }

          .tdesc-card1 {
            p {
              max-width: 498px;

              @include responsivo('mobile') {
                padding-bottom: 24px;
              }
            }
          }
        }

        .card5 {
          width: 774px;
          height: 323px;
          padding-bottom: 63px;
          background-image: url("data:image/svg+xml,%3Csvg width='774' height='323' viewBox='0 0 774 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M774 0H0V301.135L246.52 301L284.693 323H489.307L527.48 301L774 301.135V0Z' fill='%23262D35'/%3E%3C/svg%3E");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          @include responsivo('laptop') {
            height: max-content
          }

          .tdesc-card1 {
            ul {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 12px;
              padding-bottom: 24px;

              li {
                color: $neutral-400;
                display: flex;
                flex-direction: row;
                gap: 16px;
                align-items: center;
                height: max-content;

                span {
                  color: rgba(37, 44, 55, 0.8);
                  border-radius: 3px;
                  border: 1px solid #41B72F;
                  background: $acc-500;
                  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
                  width: 56px;
                  height: 24px;
                  padding: 0 6px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                }

                @include responsivo('mobile') {
                  align-items: flex-start;
                }

                p {
                  max-width: max-content;

                  @include responsivo('mobile') {
                    width: 80%;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

.s-central24h {
  padding: 120px 0 154px 0;

  .container {
    .content-central {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .content24h {
        p {
          max-width: 456px;
        }

        h2 {
          padding: 12px 0;
        }
      }

      .cta-24h {
        padding-top: 24px;
      }
    }

    .list-24h {
      ul {
        li {
          display: flex;
          justify-content: flex-start;
          border-top: 1px solid $neutral-900;
          width: 774px;
          padding: 28px 0 20px 0;
          gap: 64px;

          .content-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            h4 {
              width: 277px;
            }
          }

          .content-right {
            color: #57606C;

            p {
              max-width: 399px;
            }
          }
        }

        li:first-child,
        li:nth-child(2),
        li:nth-child(3),
        li:nth-child(4),
        li:last-child {
          .content-left {
            h4 {
              width: 277px;
            }
          }

          .content-right {
            p {
              max-width: 399px;

              @include responsivo ('mobile') {
                max-width: 100%;
              }
            }
          }
        }

        li:nth-child(2) .content-right p {
          max-width: 387px;

          @include responsivo ('mobile') {
            max-width: 100%;
          }
        }

        li:nth-child(3) .content-right p {
          max-width: 282px;

          @include responsivo ('mobile') {
            max-width: 100%;
          }
        }

        li:nth-child(4) .content-right p {
          max-width: 280px;

          @include responsivo ('mobile') {
            max-width: 100%;
          }
        }

        li:last-child {
          border-bottom: 1px solid $neutral-900;

          @include responsivo ('mobile') {
            max-width: 100%;
          }

          .content-right p {
            max-width: 277px;

            @include responsivo ('mobile') {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@include responsivo ('laptop') {
  .s-central24h {
    .container {
      .content-central {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: nowrap;

        .cta-24h {
          padding-bottom: 56px;
        }
      }

      .s-central24h {
        padding: 120px 0 154px 0;

        .list-24h {
          margin-top: 56px;

          ul {
            li {
              display: flex;
              justify-content: flex-start;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include responsivo ('tablet') {
  .s-central24h {
    .container {
      .list-24h {
        ul {
          /* width: 100%; */

          li {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 16px;
          }
        }
      }
    }
  }
}

.s-contact {
  position: relative;
  background: linear-gradient(95deg, #359E24 -1.13%, $acc-500 100%);
  padding: 64px 0 94px 0;
  overflow: hidden;

  .container {
    /* position: relative; */
    z-index: 1;
    margin: 0 auto;

    .contact {
      /* position: relative; */

      .content-contact {
        max-width: 426px;

        h2,
        p {
          color: $neutral-25;
        }

        h2 {
          max-width: 426px;
          padding-bottom: 14px;
        }

        p {
          max-width: 266px;
          padding-bottom: 24px;
        }
      }

      .img-vega {
        position: absolute;
        bottom: 0;
        right: 0;

        //.img-vega
        @include responsivo ('laptop') {
          width: 50%;
        }

        //.img-vega
        @include responsivo ('mobile') {
          width: 30%;
        }
      }
    }
  }
}



/* @include responsivo ('laptop') {
  .s-contact {
    .container {
      .contact {
        .img-vega {
          width: 40%;
        }
      }
    }
  }
} */