// _projetos-especiais.scss

@import 'header';

.s-hero-home {
    .container {
        .wh-proj-esp {
            align-items: flex-start;

            .header-home {
                height: max-content;

                p {
                    padding-top: $spacing-sm;
                    width: 495px;
                    @include typography($font-size-md);

                    @include responsivo('mobile') {
                        width: 100%;
                    }
                }
            }
        }

        .nav-proj-esp {
            width: max-content;
        }

        .wrp-bg_h-proj_esp {
            height: 545px;
            position: relative;
            background-image: url(../img/bg-s-hero-proj-esp.webp);
            background-size: cover;
            background-position: center;

            @include responsivo('mobile') {
                display: block;
                height: 730px;
                background-image: url(../img/bg-s-hero-proj-esp-mobile.webp);
            }

            .wrp-txt-proj-esp {
                width: 447px;
                height: 126px;
                border: none;
                position: absolute;
                top: 0;
                left: 0;
                @include flex-center;
                padding: $spacing-lg;
                gap: 10px;

                p {
                    @include typography($font-size-lg, $font-weight-regular, $line-height-default, -0.3px);
                }

                span {
                    @include typography($font-size-lg, $font-weight-medium, $line-height-default);
                }
            }

            .box-text {
                width: 390px;
                position: absolute;
                left: 40px;
                bottom: 40px;

                p {
                    @include typography($font-size-sm, $font-weight-regular, $line-height-default, -0.21px);
                }

                @include responsivo('mobile') {
                    display: none;
                }
            }
        }
    }
}

.s-hero-sobre {
    .container {
        .box-sobre-proj_esp {
            width: 100%;
            align-items: flex-end;

            h3 {
                color: $neutral-900;
                @include typography($font-size-xxl, $font-weight-medium, $line-height-default, -0.48px);

                span {
                    width: 503px;
                    color: black;
                    padding: 3px 174px 0 0;
                    margin-right: 18px;
                    border-top: 1px solid $neutral-900;
                    @include typography($font-size-sm, $font-weight-regular, $line-height-default, -0.21px);

                    @include responsivo('mobile') {
                        border: none;
                        padding: 0 0 12px 0;
                        margin-right: 0;
                    }
                }

                @include responsivo('mobile') {
                    max-width: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }

            .dcrpt-content-sobre {
                width: 432px;
                max-width: 90%;
                padding-top: 20px;
                margin-left: 52.5%;
                margin-bottom: 120px;
            }

            @include responsivo('tablet') {
                .dcrpt-content-sobre {
                    max-width: 60%;
                }
            }

            @include responsivo('mobile') {
                p {
                    display: none;
                }

                .dcrpt-content-sobre {
                    max-width: 332px;
                }
            }
        }

        @include responsivo('mobile') {
            .box-sobre-proj_esp.box-proj {
                padding: 120px 16px;
                margin-bottom: 120px;
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.sh-hero-customers {
    background: $pri-950;
    width: 100%;
    height: auto;
    padding: 64px 0;

    .container {
        width: 100%;
        height: 100%;

        .header-customers {
            width: 100%;
            @include flex-column;
            @include spacing($gap: $spacing-sm, $padding: 0 0 $spacing-xxl 0);

            p {
                @include typography($font-size-base, $font-weight-regular, $line-height-default, -0.24px);
            }

            .txt-content {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                h2 {
                    color: $neutral-25;
                    @include typography($font-size-xxxl, $font-weight-semibold, $line-height-heading, -0.6px);

                    @include responsivo('laptop') {
                        padding-bottom: 12px;
                    }
                }

                p {
                    padding-left: $spacing-xs;
                    border-left: 1px solid $acc-500;
                }
            }
        }

        .header-proj-down {
            padding-top: 0;
        }

        .line-ctr-ctm {
            width: 100%;
            height: auto;
            padding-bottom: 71px;
            background-image: url(../img/line-center-custom.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            margin-bottom: 71px;

            @include responsivo('mobile') {
                background-image: url(../img/line-center-custom-mobile.svg);
            }
        }

        .wrapper-card-proj {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 32px 24px;
            justify-content: center;

            @include responsivo('ultra') {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
            }

            @include responsivo('mobile') {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .card-proj {
                width: 432px;
                height: 128px;
                padding: 24px;

                h4 {
                    @include typography($font-size-lg, $font-weight-medium, $line-height-default, -0.3px);
                    padding-bottom: $spacing-sm;
                }

                p {
                    @include typography($font-size-base, $font-weight-regular, $line-height-default, -0.24px);
                }

                @include responsivo('mobile') {
                    width: 100%;
                }
            }

            .cd-pj1 {
                background: url(../img/back-proj-customizado.svg) center / cover;
            }

            .cd-pj2 {
                background: url(../img/back-proj-laboratorio.svg) center / cover;
            }

            .cd-pj3 {
                background: url(../img/back-proj-equipeTec.svg) center / cover;
            }

            .cd-pj4 {
                background: url(../img/back-proj-altataxa.svg) center / cover;
            }

            .cd-pj5 {
                background: url(../img/back-proj-24h.svg) center / cover;
            }

            .cd-pj6 {
                background: url(../img/back-proj-.svg) center / cover;
            }
        }
    }
}

.s-hero-orc-budget {
    width: 100%;
    height: 126px;
    background: $acc-500;

    .container {
        width: 100%;
        height: 100%;

        .wrapper-orc {
            width: 100%;
            height: 100%;
            padding: 24px 0;
            display: flex;
            justify-content: space-between;

            .content-txt-orc {
                width: 100%;
                max-width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    width: 460px;
                    min-width: 460px;
                    @include typography($font-size-lg, $font-weight-medium, $line-height-default);

                }

                .btn-orc {
                    @include flex-center;
                    @include spacing($gap: $spacing-xxs);
                    min-width: 244px;

                    @include responsivo('tablet') {
                        display: flex;
                        justify-content: space-between;
                        min-width: 100%;
                    }

                    .wrapper-bt-arrow {
                        display: flex;
                        align-items: center;
                        gap: 4px;

                        .bt-orc {
                            background: none;
                            @include typography($font-size-base, $font-weight-semibold, $line-height-default, -0.24px);
                        }
                    }

                    .arrow-slice-budget {
                        display: none;

                        @include responsivo('tablet') {
                            display: flex;
                        }
                    }
                }

                .wrapper-txt-img-orc {
                    position: relative;
                    width: max-content;
                    display: flex;
                    justify-content: flex-start;

                    .img-budget-right {
                        min-width: 200px;

                        @include responsivo('laptop') {
                            display: none;
                        }
                    }

                    .img-budget-left {
                        @include responsivo('tablet') {
                            display: none;
                        }
                    }

                    @include responsivo('tablet') {
                        max-width: none;
                        width: 100%;
                    }

                    @include responsivo('tablet') {
                        min-width: 100%;

                        p {
                            width: 100%;
                            min-width: 100%;
                            text-align: justify;
                        }
                    }
                }

                @include responsivo('tablet') {
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
        }
    }

    @include responsivo('tablet') {
        height: 200px;
    }
}

.s-hero-support {
    width: 100%;
    height: auto;

    .container {
        width: 100%;
        height: 100%;
        padding: $spacing-giga 0;

        .header-suport {
            p {
                @include typography($font-size-base, $font-weight-regular, $line-height-default, -0.24px);
                padding-bottom: $spacing-xs;
            }

            h2 {
                @include typography($font-size-xxxl, $font-weight-semibold, $line-height-heading, -0.6px);
                padding-bottom: 32px;
            }

            .text-base.txt-suport-proj {
                display: none;
            }

            .cta-24h.ct-24h-proj {
                display: none;
            }

            @include responsivo('mobile') {

                h2 {
                    padding-bottom: 12px;
                }

                .text-base.txt-suport-proj {
                    display: flex;
                    color: $neutral-600;
                }

                .cta-24h.ct-24h-proj {
                    display: flex;
                    margin-bottom: 56px;
                }
            }
        }

        .wrapper-suport-list {
            width: 100%;
            height: 613px;
            @include flex-space-between;
            align-content: space-between;
            /* border: 3px solid #ff0000; */

            @include responsivo('mobile') {
                height: max-content;
            }

            .wrapper-content {
                height: 100%;
                @include flex-column;
                @include flex-space-between-start;
                padding: 0 16px;
                /* border: 3px solid #0000ff; */

                @include responsivo('mobile') {
                    width: 100%;
                    padding: 0 16px;
                }

                .wrapper-item {
                    width: 774px;
                    height: 500px;
                    @include flex-column;
                    @include flex-space-between;
                    gap: $spacing-xxs;
                    /* border: 3px solid #008000; */

                    @include responsivo('ultra') {
                        width: max-content;
                        height: 580px;
                    }

                    @include responsivo('mobile') {
                        width: 100%;

                    }

                    .suport-item {
                        width: 100%;
                        height: 96px;
                        @include flex-center;
                        justify-content: flex-start;
                        border-top: 1px solid $neutral-900;
                        /* background-color: blueviolet; */

                        @include responsivo('mobile') {
                            width: 100%;
                            height: 131px;
                        }

                        .box-item {
                            width: 375px;
                            height: auto;
                            @include flex-start;
                            gap: $spacing-lg;
                            /*  background-color: yellow; */

                            h4 {
                                @include typography($font-size-lg, $font-weight-medium, $line-height-default, -0.3px);
                            }

                            @include responsivo('ultra') {
                                width: 305px;
                            }

                            @include responsivo('tablet') {
                                width: 375px;
                            }

                            @include responsivo('mobile') {
                                width: 100%;
                            }

                        }

                        p {
                            width: auto;
                            @include typography($font-size-base, $font-weight-regular, $line-height-default, -0.24px);
                        }

                        .p-list1 {
                            width: 399px;
                        }

                        .p-list2 {
                            width: 373px;
                        }

                        .p-list3 {
                            width: 277px;
                        }

                        .p-list4 {
                            width: 274px;
                        }

                        .p-list5 {
                            width: 274px;
                        }

                        @include responsivo('laptop') {
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: space-evenly;
                        }
                    }

                    .sup-it5 {
                        border-bottom: 1px solid $neutral-900;

                        @include responsivo('laptop') {
                            border-bottom: none;
                        }
                    }
                }
            }

            .suport-image {
                width: 456px;
                height: 613px;

                img {
                    width: 100%;
                    height: 100%;
                }

                @include responsivo('tablet') {
                    width: 95%;
                    height: 100%;
                }

                @include responsivo('mobile') {
                    display: none;
                }
            }
        }
    }
}