* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    // outline: 1px solid red;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: 0;
    cursor: pointer;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}