* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: 1px dashed #c3a1e4;
}

img {
    max-width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: 0;
    cursor: pointer;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #fff;
    scroll-behavior: smooth;
}

/* .s-hero-home {
    display: none;
} */

/* #sobre-nos {
    display: none;
} */

/* #solucoes {
    display: none;
} */

/* .s-numbers {
    display: none;
} */

/* #diferenciais {
    display: none;
} */

/* .s-central24h {
    display: none;
} */

/* .s-contact {
    display: none;
} */

/* .f-footer {
    display: none;
} */