$font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

h1, h2, h3, h4 {
    font-family: $font-family;
    font-style: normal;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.72px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 120%; /* 48px */
    letter-spacing: -0.6px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 130%; /* 41.6px */
    letter-spacing: -0.48px;
}

h3.thin {
    font-weight: 500;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
    letter-spacing: -0.36px;
}

h4.bold {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.3px;
}

$font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$line-height: 130%;

p, span {
    color: $color-text;
    font-family: $font-primary;
    font-style: normal;
}

.text-lg {
    font-size: 20px;
    line-height: $line-height;
    
    &.medium { font-weight: 500; }
    &.regular { font-weight: 400; letter-spacing: -0.3px; }
}

.text-md {
    font-size: 18px;
    line-height: 130%; /* 23.4px */
    
    &.regular { font-weight: 400; letter-spacing: -0.27px; }
}

.text-base {
    font-size: 16px;
    line-height: $line-height;
    
    &.semibold { font-weight: 600; }
    &.medium { font-weight: 500; letter-spacing: -0.24px; }
    &.regular { font-weight: 400; letter-spacing: -0.24px; }
}

.text-sm {
    font-size: 14px;
    line-height: $line-height;
    
    &.semibold { font-weight: 600; letter-spacing: -0.21px; }
    &.medium { font-weight: 500; letter-spacing: -0.21px; }
    &.regular { font-weight: 400; letter-spacing: -0.21px; }
}

.text-xs {
    font-size: 12px;
    line-height: $line-height;
    
    &.semibold { font-weight: 500; letter-spacing: -0.18px; }
}

.button-text {
    font-size: 16px;
    font-weight: 600;
    line-height: $line-height;
    letter-spacing: -0.24px;
}