// Cores Primárias

$pri-25 : #F4F7FB;
$pri-50 : #E8EFF6;
$pri-100 : #E8EFF6;
$pri-200 : #9FC1DA;
$pri-300 : #6CA0C4;
$pri-400 : #4984AE;
$pri-500 : #376A92;
$pri-600 : #2E5676;
$pri-700 : #294963;
$pri-800 : #273F53;
$pri-900 : #131E29;
$pri-950 : #0E161F;

// Accent

$acc-50 : #F8FDF7;
$acc-100 : #F4FCF1;
$acc-200 : #E2FADE;
$acc-300 : #C6F4BE;
$acc-400 : #99E98C;
$acc-500 : #63D651;
$acc-600 : #3FBC2B;
$acc-700 : #2E9C1D;
$acc-800 : #287A1B;
$acc-900 : #1C5214;
$acc-950 : #0B2C07;

// Neutral

$pri-25 : #F8F9FB;
$acc-50 : #E8EAED;
$acc-100 : #DCE0E5;
$acc-200 : #C2C8D0;
$acc-300 : #A3AAB5;
$acc-400 : #818B99;
$acc-500 : #616D7D;
$acc-600 : #455160;
$acc-700 : #2D3847;
$acc-800 : #1A2433;
$acc-900 : #0D1521;
$acc-950 : #04080D;