// _vega-view.scss
.s-hero-home {
    .container {
        .wrapper-bg-home {
            .wrp-txt-vega-view {
                border: none;
                position: absolute;
                top: 0;
                left: 0;
                width: max-content;
                height: max-content;
                padding: $spacing-lg;

                p {
                    width: 438px;
                    @include typography($font-size-lg);
                }
            }
        }

        .wrapper-bg-home.wrp-bg_h-vega-view {
            height: 545px;
            min-height: 545px;
            position: relative;
            background-image: url(../img/bg-s-hero-vega-view.webp);
            background-size: cover;
            background-position: left center;
            background-repeat: no-repeat;

            @include responsivo('mobile') {
                display: block;
                height: 938px;
                min-height: 938px;
                min-height: max-content;
                background-image: url(../img/bg-s-hero-vega-view-MOBILE.webp);
                background-size: cover;
            }

            .wrapper-text-protection.wrp-txt-vega-view {
                width: 100%;

                p {
                    @include responsivo('mobile') {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.s-hero-sobre {
    .container {
        .box-sobre-proj_esp.box-proj {
            padding: 120px 114px 0;

            @include responsivo('laptop') {
                padding: 120px 16px 0;
            }

            @include responsivo('tablet') {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.s-hero-Car-Truck {
    margin: 24px 0 120px;

    @include responsivo('mobile') {
        margin: 24px 0 32px;
    }

    .container {
        .wrapper-Car-Truck {
            width: 100%;
            height: 352px;
            @include flex-space-between;
            padding: 0 115px;

            @include responsivo('laptop') {
                padding: 0 16px;
                gap: 8px;
                height: max-content;
            }

            @include responsivo('tablet') {
                flex-direction: column;
                gap: 32px
            }

            .wrapper-ilustration {
                width: 432px;
                height: 352px;
                background: $neutral-50;

                @include responsivo('mobile') {
                    width: 100%;
                    gap: 32px;
                }

                .btn-content {
                    width: 432px;
                    @include flex-row;
                    @include spacing($padding: $spacing-xxs, $gap: $spacing-xs);
                    align-self: stretch;

                    @include responsivo('mobile') {
                        width: 100%;
                    }

                    .btn-select {
                        @include flex-center;
                        padding: $spacing-xxs $spacing-xs;
                        gap: 10px;
                        flex: 1 0 0;
                        background: $neutral-50;

                        @include responsivo('mobile') {
                            width: 100%;
                        }
                    }

                    .bt-car {
                        background: $neutral-25;
                        box-shadow: -6px -6px 16px 0px rgba(255, 255, 255, 0.60), 4px 4px 10px 0px rgba(0, 0, 0, 0.03);
                    }
                }

                .bg-ilustration {
                    width: 432px;
                    height: 320px;

                    @include responsivo('mobile') {
                        width: 100%;
                    }

                    .image-car {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .wrapper-info {
                width: 456px;
                height: 352px;
                @include flex-column;
                @include flex-space-between-start;

                @include responsivo('tablet') {
                    width: 100%
                }

                .header-info {
                    @include flex-column;
                    @include spacing($gap: $spacing-xs);

                    .title-info {
                        @include typography($font-size-md, $font-weight-medium, $line-height-default, -0.27px);
                    }

                    .description-info {
                        @include typography($font-size-md, $font-weight-regular, $line-height-default, -0.27px);
                    }
                }

                .wrapper-topic {
                    @include flex-column;
                    @include spacing($gap: $spacing-sm);

                    .topic {
                        @include flex-center;
                        gap: $spacing-sm;

                        p {
                            @include typography($font-size-md, $font-weight-regular, $line-height-default, -0.27px);
                        }

                        .numer-topic {
                            width: 20px;
                            height: 20px;
                            @include flex-center;
                            background: $acc-500;

                            p {
                                @include typography($font-size-sm, $font-weight-medium, $line-height-default, -0.21px);
                            }
                        }

                        .exclusive-truck {
                            @include flex-center;
                            padding: 2px 6px;
                            gap: 10px;
                            background: linear-gradient(96deg, #B7E9AF -0.85%, $acc-500 15.78%, #A3F497 23.53%, $acc-500 37.61%, #37B124 67.57%, $acc-500 73.75%, $acc-500 107.4%);
                        }
                    }
                }
            }
        }

        .wrap-truck {
            margin-top: 100px;
        }
    }
}